{% extends 'base.html.twig' %}

{% block title %}Edit UserBadge{% endblock %}

{% block body %}
    <h1>Edit UserBadge</h1>

    {{ include('user_badge/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_badge_index') }}">back to list</a>

    {{ include('user_badge/_delete_form.html.twig') }}
{% endblock %}
